body {
    margin: 0;
}

.col-centered {
    float:none;
    margin: 0 auto;
}

//PAGE TRANSITIONS
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}