div#bio {
    padding: 10px;
    margin: 0 45% 0 10%;
    @media screen  and (max-width: $breakpoint-small){
        margin: 0;
        border-radius:0;
        p {
            font-size: 16px;
            line-height: 22px;
        }
    }
}