$dr-purple: #5a2b5f;
$dr-navyblue: #253449;
$dr-beige: #ad9768;
$dr-grey: #d0cfbd;
$dr-blueGrey: #a6bbbc;
$dr-greyBlue-dark: #014a57;
$dr-greyBlue-light: #017e95;

$section-background-blue: rgba(108,172,176, 0.77);
