
body {
    font-size: 1.5em;
    font-family: 'Philosopher', sans-serif;
}

div.intro {
    height: 95%;
    
    @media screen and (min-width: $breakpoint-small){
        height: 81%;
    }
}

.btn {
    font-size: 1.1em;
}

div.learn {
    height: 50%;
    color: white;
    position: relative;
    .learn-blurb {
        text-shadow: 1px 1px 1px #382f2f;
        position: absolute;
        top: 20%;
        left: 14%;
        width: 75%;
        h2 {
        line-height: 61px;
        font-size: 3.5em;
        }
    }
    @media screen and (max-width: $breakpoint-small) {
        height: 100%;
        .learn-blurb {
            h2 {
            font-size: 2.5em;
            }
        }
    }

}