footer.footer{
    background: $section-background-blue;
    display: block;
    padding:5px;
    color: white;
    height: 75px;
    position: relative;
   a {
       color: white;
       &:hover {
           color: white;
           text-decoration: none;
       }

   }
    span.copyright, span.photo-cred{
        display: inline-block;
        position: absolute;
        top: 50px;        
    }
    
    span.photo-cred {
        right: 10px;
    }

    @media screen and (max-width: $breakpoint-small){
        
    }
}