#hire {
    padding: 50px 0;
    text-align: center;
    background: $section-background-blue;
    color: white;
    h1 {
        margin-bottom: 30px;
    }
    .offer {
        display: inline-table;
        width: 33.33333333333%;
        @media screen and (max-width: $breakpoint-small){
            width: 100%;
            margin-bottom: 10px;
        }
    }   

    .more-info {
        margin-top: 35px;
        h1 {
            margin-bottom: 5px;
        }
        a {
            color: white;
        }
    }
    .circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: inline-block;
        background-size: cover;
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-position: center;
        opacity: .8;
        &.learn-to-bellydance {
            background-position-y: bottom;
        }

        &.classes-and-workshops {
            opacity: 0.67;
        }
    }

    ul,li { 
        list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; 
    }

    .email-list-subscriber {
        color: black;
        border-radius: 6px 0 0 6px;
        line-height: 16px;
        font-size: 16px;
        padding: 8px;
    }

    .mailing-list-submit {
        background: gray;
        border: none;
        padding: 9px;
        border-radius: 0px 6px 6px 0px;
    }

    p, li {
        font-size: 19px;
    }
}