.hero {
    margin:0px;
    padding:0px;    
    background-position-y: initial;
    &.intro.parallax {
        padding-bottom: 200px;
        @media screen  and (max-width: $breakpoint-small){
            padding-bottom: 735px;
            background-position-x: right;
            background-size: cover;
            background-position: bottom;
            background-position-x: right;
        }
        
    }

    &.learn {
        background-position: right;
        background-position-y: -40px;
    }
}

.be-you-tiful {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-left: 20%;
    margin-top: 10%;
    background-size: cover;
    @media screen  and (max-width: $breakpoint-small){
        visibility: hidden;
        width: 100%;
        margin-top: 100px;
        margin-left: 0;
    }
}