.masonry-modal-container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;

    .content {
        border-radius: 10px;
        img {
            display: block;
            margin: 4% auto 0 auto;
            height: 85%;
            width: auto;
            @media screen and(max-width: $breakpoint-small){
                height: auto;
                max-width: 100%;
            }
        }
    }

    .gal-description {
        text-align: center;
        display:block;
        color: white;
    }
    
}