.nav-wrapper {
    a {
        &:hover {
            text-decoration: none;
        }
    }

    z-index: 9999999999999999;
    position: fixed;
    background: rgba(255,255,255,0.8);
    width: 100%;
    .hamburger {
        width: 100%;
        font-size: 2em;
        display: block;
        text-align: center;
    }
    .nav-bar {
        width: 100%;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        nav.nav {
            display:inline-block;
            div {
                list-style: none;
                .nav-item {
                    margin-right: 52px;
                    display: inline-block;
                    width: 50px;
                    padding: 10px 20px;
                    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
                    cursor:pointer;
                    a {
                        text-transform: capitalize;
                        color: $dr-purple;  
                    }
                }
            }
        
            @extend .clearfix;
        
            &.top-nav{
                border-bottom: 1px solid #eee;
                box-sizing: border-box;
                margin-right: 100px;
                display: inline-block;
                vertical-align: bottom;
            }
        
            
        }
    
        .logo {
            width: 175px;
            display:inline-block;
        }
    
        .logo-text {
            display: block;
            text-align: left;
            color: $dr-purple;
        }
    
        .logo-link {
            display: inline-block;
            padding-left: 20px;
            padding-bottom: 5px;
            padding-top: 10px;
            letter-spacing: .5;
            font-weight: bold;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }
    
        &.mobile {
            nav.nav {
                padding: 0;
                div {
                    list-style: none;
                    width: 100%;
                    .nav-item {
                        font-size: 2em;
                        margin: 0;
                        width: 100%;
                        padding: 10px 20px;
                        border-bottom: 1px solid $dr-purple;
                    }
                }
            
                @extend .clearfix;
            }
        }
    }

    .logo {
        display:block;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .logo-text {
        display: inline-block;
        text-transform: uppercase;
    }

    .logo-link {
        display: block;
        padding-left: 20px;
        padding-bottom: 5px;
        padding-top: 10px;
        letter-spacing: .5;
        font-weight: bold;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }
}
