.one-page-bio {
    position: absolute;
    width: 50%;
    top: 100%;
    padding: 10px;
    letter-spacing: 4px;
    img{
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    @media screen and (max-width: $breakpoint-small) {
        width: 100%;
    }
    // @media screen and (min-width: $break-large) {
    //     float: right;
    // }
}

.featured-vids-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

