.social-media {
    position: absolute;
    right: 50;
    top: 20px;
    font-size: 30px;

    a {
        margin: 0 10px;
        color: $dr-purple;
    }

    @media screen and (max-width: $breakpoint-small){
        position: initial;
        right: 0;
        top: 0;
        font-size: 52px;
        padding: 10px;
        text-align: center;
        
        a{
            padding: 0 5px;
        }
    }
}