@import 'color-scheme-deeproots';

$text-color: #1e0c2e;
$error-bg-color: #ff9494;
$error-font-color:  darkred;
$success-bg-color: #98FB98;
$success-font-color: darkgreen;

//responsive breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$breakpoint-small: 500px;
$breakpoint-large: 1200px;


.clearfix {
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}