ul.featured-video-slider{
    list-style: none;
    li {
        display: inline-block;
        margin-right: 10px;
    }
}

.clearfixed-container  {
    &.bg-seagreen {
        background: $section-background-blue;
    }

    #featured-vids {
        color: white;
        padding:20px 10px;
        font-size: 1.3em;

        span.playbutton {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: absolute;
            top: 0;
            color: rgba(255,255,255,.6);
            font-size: 4rem;
            &:hover {
                color: rgba(255, 255,255,1);
            }
            i {
                position: absolute;
                top: 40%;
                left: 42%;
            } 
        }

        span.thumbnail-name {
            padding-left: 10px;
            padding-top: 6px;
            display: inline-block;
            background: none;
            color: white;
            border: none;
            top: 0;
            position: absolute;
            text-shadow: 1px 1px rgba(0,0,0,.7);
        }
        
        .featured-videos-blurb {
            margin-bottom:10px;
        }
        
        @media screen and (max-width: $breakpoint-small){
            .book {
                margin:20px auto 10px auto;
                display:block;
            }
        }
    }
}



div.clearfixed-container:after {
    content: "";
    display: table;
    clear: both;
}

div.videos-wrapper {
    width: 100%;
    overflow: hidden;
    max-height: 150px;
}
.featured-vids-container a {
    margin: 10px 0;
}