@import 'variables';
@import 'parallax';
@import 'socialmedia';
@import 'base';
@import 'navigation';
@import 'messages';
@import 'hero';
@import 'video';
@import 'footer';
@import 'deeproots-specifics';
@import 'bio';  
@import 'forhire';
@import 'modal';
@import 'masonry';

.mailing-list-submit {
     min-width: 101px;
     text-align: center;
     min-height: 34px;
}

.home-page {
     #modal-overlay {
          background:rgba(0,0,0,.7);
          display: block;
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          z-index: 88888888888;
      }
      
      #posterwrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          
          a {
               color: white;
               text-align: center;
               h1 {
                    text-transform: uppercase;
               }
          }
          img {
               height: 90%;
          }
      }
}