h1, h2 {
    width: 75%; 
    margin: 0 auto; 
    margin-top: 20px; 
    font-size: 1.65em;
    text-align: center;
}

h2 {
    font-size: 1.36em;
}

ul {
    list-style: none;
    width: 75%; 
    margin: 0 auto; 
    padding: 10px; 
    font-size: 18px;
    li {
        padding: 10px;
    }
}

.registrations {
    width: 750px; 
    margin: 0 auto; 
    margin-top: 100px;
}

.be-you-tiful{
    height: 300px; 
    width: 300px; 
    display: block; 
    width: 300px; 
    margin: 0 auto;
}
.backToDeeproots {
    i {
        display: inline-block;
        padding-right: 10px;
    }
    font-size: 1.2em;
}