/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
.clearfix::after, .nav-wrapper .nav-bar nav.nav::after, .nav-wrapper .nav-bar.mobile nav.nav::after {
  content: '';
  display: table;
  clear: both; }

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.social-media {
  position: absolute;
  right: 50;
  top: 20px;
  font-size: 30px; }
  .social-media a {
    margin: 0 10px;
    color: #5a2b5f; }
  @media screen and (max-width: 500px) {
    .social-media {
      position: initial;
      right: 0;
      top: 0;
      font-size: 52px;
      padding: 10px;
      text-align: center; }
      .social-media a {
        padding: 0 5px; } }

body {
  margin: 0; }

.col-centered {
  float: none;
  margin: 0 auto; }

.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in; }

.nav-wrapper {
  z-index: 9999999999999999;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  width: 100%; }
  .nav-wrapper a:hover {
    text-decoration: none; }
  .nav-wrapper .hamburger {
    width: 100%;
    font-size: 2em;
    display: block;
    text-align: center; }
  .nav-wrapper .nav-bar {
    width: 100%;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
    .nav-wrapper .nav-bar nav.nav {
      display: inline-block; }
      .nav-wrapper .nav-bar nav.nav div {
        list-style: none; }
        .nav-wrapper .nav-bar nav.nav div .nav-item {
          margin-right: 52px;
          display: inline-block;
          width: 50px;
          padding: 10px 20px;
          font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
          cursor: pointer; }
          .nav-wrapper .nav-bar nav.nav div .nav-item a {
            text-transform: capitalize;
            color: #5a2b5f; }
      .nav-wrapper .nav-bar nav.nav.top-nav {
        border-bottom: 1px solid #eee;
        box-sizing: border-box;
        margin-right: 100px;
        display: inline-block;
        vertical-align: bottom; }
    .nav-wrapper .nav-bar .logo {
      width: 175px;
      display: inline-block; }
    .nav-wrapper .nav-bar .logo-text {
      display: block;
      text-align: left;
      color: #5a2b5f; }
    .nav-wrapper .nav-bar .logo-link {
      display: inline-block;
      padding-left: 20px;
      padding-bottom: 5px;
      padding-top: 10px;
      letter-spacing: .5;
      font-weight: bold;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
    .nav-wrapper .nav-bar.mobile nav.nav {
      padding: 0; }
      .nav-wrapper .nav-bar.mobile nav.nav div {
        list-style: none;
        width: 100%; }
        .nav-wrapper .nav-bar.mobile nav.nav div .nav-item {
          font-size: 2em;
          margin: 0;
          width: 100%;
          padding: 10px 20px;
          border-bottom: 1px solid #5a2b5f; }
  .nav-wrapper .logo {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0; }
  .nav-wrapper .logo-text {
    display: inline-block;
    text-transform: uppercase; }
  .nav-wrapper .logo-link {
    display: block;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    letter-spacing: .5;
    font-weight: bold;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

div.sys-message {
  font-size: small; }

.hero {
  margin: 0px;
  padding: 0px;
  background-position-y: initial; }
  .hero.intro.parallax {
    padding-bottom: 200px; }
    @media screen and (max-width: 500px) {
      .hero.intro.parallax {
        padding-bottom: 735px;
        background-position-x: right;
        background-size: cover;
        background-position: bottom;
        background-position-x: right; } }
  .hero.learn {
    background-position: right;
    background-position-y: -40px; }

.be-you-tiful {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin-left: 20%;
  margin-top: 10%;
  background-size: cover; }
  @media screen and (max-width: 500px) {
    .be-you-tiful {
      visibility: hidden;
      width: 100%;
      margin-top: 100px;
      margin-left: 0; } }

ul.featured-video-slider {
  list-style: none; }
  ul.featured-video-slider li {
    display: inline-block;
    margin-right: 10px; }

.clearfixed-container.bg-seagreen {
  background: rgba(108, 172, 176, 0.77); }

.clearfixed-container #featured-vids {
  color: white;
  padding: 20px 10px;
  font-size: 1.3em; }
  .clearfixed-container #featured-vids span.playbutton {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 4rem; }
    .clearfixed-container #featured-vids span.playbutton:hover {
      color: white; }
    .clearfixed-container #featured-vids span.playbutton i {
      position: absolute;
      top: 40%;
      left: 42%; }
  .clearfixed-container #featured-vids span.thumbnail-name {
    padding-left: 10px;
    padding-top: 6px;
    display: inline-block;
    background: none;
    color: white;
    border: none;
    top: 0;
    position: absolute;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7); }
  .clearfixed-container #featured-vids .featured-videos-blurb {
    margin-bottom: 10px; }
  @media screen and (max-width: 500px) {
    .clearfixed-container #featured-vids .book {
      margin: 20px auto 10px auto;
      display: block; } }

div.clearfixed-container:after {
  content: "";
  display: table;
  clear: both; }

div.videos-wrapper {
  width: 100%;
  overflow: hidden;
  max-height: 150px; }

.featured-vids-container a {
  margin: 10px 0; }

footer.footer {
  background: rgba(108, 172, 176, 0.77);
  display: block;
  padding: 5px;
  color: white;
  height: 75px;
  position: relative; }
  footer.footer a {
    color: white; }
    footer.footer a:hover {
      color: white;
      text-decoration: none; }
  footer.footer span.copyright, footer.footer span.photo-cred {
    display: inline-block;
    position: absolute;
    top: 50px; }
  footer.footer span.photo-cred {
    right: 10px; }

body {
  font-size: 1.5em;
  font-family: 'Philosopher', sans-serif; }

div.intro {
  height: 95%; }
  @media screen and (min-width: 500px) {
    div.intro {
      height: 81%; } }

.btn {
  font-size: 1.1em; }

div.learn {
  height: 50%;
  color: white;
  position: relative; }
  div.learn .learn-blurb {
    text-shadow: 1px 1px 1px #382f2f;
    position: absolute;
    top: 20%;
    left: 14%;
    width: 75%; }
    div.learn .learn-blurb h2 {
      line-height: 61px;
      font-size: 3.5em; }
  @media screen and (max-width: 500px) {
    div.learn {
      height: 100%; }
      div.learn .learn-blurb h2 {
        font-size: 2.5em; } }

div#bio {
  padding: 10px;
  margin: 0 45% 0 10%; }
  @media screen and (max-width: 500px) {
    div#bio {
      margin: 0;
      border-radius: 0; }
      div#bio p {
        font-size: 16px;
        line-height: 22px; } }

#hire {
  padding: 50px 0;
  text-align: center;
  background: rgba(108, 172, 176, 0.77);
  color: white; }
  #hire h1 {
    margin-bottom: 30px; }
  #hire .offer {
    display: inline-table;
    width: 33.33333333333%; }
    @media screen and (max-width: 500px) {
      #hire .offer {
        width: 100%;
        margin-bottom: 10px; } }
  #hire .more-info {
    margin-top: 35px; }
    #hire .more-info h1 {
      margin-bottom: 5px; }
    #hire .more-info a {
      color: white; }
  #hire .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    background-size: cover;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: center;
    opacity: .8; }
    #hire .circle.learn-to-bellydance {
      background-position-y: bottom; }
    #hire .circle.classes-and-workshops {
      opacity: 0.67; }
  #hire ul, #hire li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0; }
  #hire .email-list-subscriber {
    color: black;
    border-radius: 6px 0 0 6px;
    line-height: 16px;
    font-size: 16px;
    padding: 8px; }
  #hire .mailing-list-submit {
    background: gray;
    border: none;
    padding: 9px;
    border-radius: 0px 6px 6px 0px; }
  #hire p, #hire li {
    font-size: 19px; }

.masonry-modal-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0; }
  .masonry-modal-container .content {
    border-radius: 10px; }
    .masonry-modal-container .content img {
      display: block;
      margin: 4% auto 0 auto;
      height: 85%;
      width: auto; }
      @media screen and (max-width: 500px) {
        .masonry-modal-container .content img {
          height: auto;
          max-width: 100%; } }
  .masonry-modal-container .gal-description {
    text-align: center;
    display: block;
    color: white; }

.responsiveMasonryElement {
  cursor: pointer; }

.mailing-list-submit {
  min-width: 101px;
  text-align: center;
  min-height: 34px; }

.home-page #courageandcuriosity {
  background: rgba(0, 0, 0, 0.7);
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 88888888888; }

.home-page #posterwrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .home-page #posterwrapper a {
    color: white;
    text-align: center; }
    .home-page #posterwrapper a h1 {
      text-transform: capitalize; }
  .home-page #posterwrapper img {
    height: 90%; }

/*# sourceMappingURL=main.css.map*/